.NavItem {
    margin: 0 0.7rem;
    cursor: pointer;
}

.NavItem  a {
    text-decoration: none;
    color: var(--primary-text-color);
    padding-bottom: 5px;
}

a.active {
    border-bottom: 1px solid  rgb(199, 8, 8);
}

.NavItem  a:hover {
    color: var(--content-hover);
}


.NavItem  span {
padding: 5px;
}
/* .FilterModalFooterClass {
    padding: 0 !important;
} */

.ServiceDropdown::-webkit-scrollbar {
    width: 0.5vw;
  }
  
  .ServiceDropdown::-webkit-scrollbar-thumb {
    background-color: var(--background-color);
  }
  /* aside::-webkit-scrollbar-thumb {
      background-color: var(--background-color);
    } */
  
  .ServiceDropdown::-webkit-scrollbar-track {
    background-color: var(--foreground-color);
  }
  
.ServiceDropdown {
    padding: 10px;
    overflow-x: auto;
    position: absolute;
    top: 58px;
    width: 280px;
    height: 250px;
    border-radius: 8px;
    background-color: var(--background-color);
}
