
.Digitalization {
    padding: 25px 0;
}




.Explore {
    font-size: 28px;
    text-align: center;
}



.ExploreP {
    padding: 0 15px;
}



/* ==========COREFEATURES========================================================================== */

.CoreFeatures {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  
  .CoreFeaturesItem {
    text-align: center;
    /* padding: 10px 20px; */
    border-radius: 10px;
    margin: auto;
    margin-bottom: 15px;
    width: 95%;
    background-color: var(--background-color);
    /* background-color: var(--foreground-color); */
    box-shadow: 0px 6px 3px 2px var(--shadow-wrapper-color);
    transition: all 0.3s ease-in-out;
  }
  .CoreFeaturesItem:hover {
    transform: translateY(-10px);
    box-shadow: 0px 6px 3px 2px var(--shadow-wrapper-color);
  }
  .CoreFeaturesItem:hover img {
    scale: 1.3;
  }
  
  a.CoreFeaturesLink {
  text-decoration: none;
  color: var(--primary-text-color);
  }
  .imageWrapper {
    height: 200px;
    width: 100%;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
  }
  .imageWrapper > img {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
    transition: scale 0.4s ease-in-out;
  }
  
  .CoreFeaturesItem h4 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 20px;
  }
  
  .Description {
    padding: 20px;
    text-align: left;
  }
  .Description > small {
    font-size: 14px;
  }


/* ReconstructImageWrapper ====================================== */












/* CORE FEATURES================================ */


@media(min-width: 400px) {
    .imageWrapper {
      height: 250px;
    }
  }
  @media (min-width: 40rem) {

    .imageWrapper {
        height: 200px;
      }

    .CoreFeaturesItem {
      width: 45%;
      margin: unset;
      margin-bottom: 25px;
    }
  }
  
  @media (min-width: 960px) {
    .CoreFeaturesItem {
        width: 30%;
        margin: unset;
        margin-bottom: 25px;
      }
  }


  /* ReconstructImageWrapper ====================================== */
.SectionWrapper {
  margin-bottom: 40px;
}