.NavItems {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  /* display: flex; */
  display: none;
  justify-content: space-around;
  align-items: center;
}

.SearchWrapper {
  position: relative;
}
.LoadingWrapper {
  position: absolute;
  right: 9px;
  top: 8px;
}

.SearchListWrapper {
  position: absolute;
  top: 50px;
  /* height: 200px; */
  min-height: 46px;
  max-height: 150px;
  min-width: 200px;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(6px);
  outline: none;
}

.SearchListWrapper::-webkit-scrollbar {
  width: 0.7vh;
}

.SearchListWrapper::-webkit-scrollbar-thumb {
  background-color: var(--primary-text-color);
}

.SearchListWrapper::-webkit-scrollbar-track {
  background-color: gray;
}



.ClientHeader {
  font-size: 24px;
}
.ClientHeaderIcon {
  vertical-align: middle;
  color: gray;
  border-radius: 15px;
  margin-right: 10px;
  /* color: red; */
}

.contentClass {
  background-color: white;
  border-radius: 0 0 15px 15px;
  /* padding-bottom: 20px; */
}



@media (min-width: 40rem) {
  .NavItems {
    display: flex;
  }
}
